@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");

body {
  margin: 0%;
  padding: 0%;
  background-color: #1b0047;
}

.gestion {
  margin-top: 750px;
}

.gestion img {
  background-position: 90% center;
  background-repeat: no-repeat;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
}

/* DESC KOLAB SECTION 3 */

.kolab {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  width: 100%;
  padding-bottom: 1%;
  height: 96vh;
}

.container {
  display: flex;
  flex-direction: row;
}
.blockfirst {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 60%;
  padding-bottom: 1%;
  border-radius: 10px;
  height: 300px;
}

.bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #0e0623;
  border-radius: 10px 10px 0px 0px;
}

.quit {
  margin-left: 0.5%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6832ff;
}

.hide {
  margin-left: 0.5%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8e65ff;
}

.zoom {
  margin-left: 0.5%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b89cfe;
}

.barlink {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1d123f;
  height: auto;
}

.barlink p {
  color: white;
  font-size: 10px;
  font-family: "Titillium Web", sans-serif;
  background-color: #26164f;
  border-radius: 6px;
  width: 80%;
  margin-left: 2%;
  padding: 1%;
  padding-left: 2%;
}

.content {
  background-color: #13082f;
  padding-bottom: 20%;
  padding-top: 5%;
  border-radius: 0px 0px 10px 10px;
}

/* CONTENT KOLAB 1  CSS CONTENT */

.text {
  width: 60%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 45%;
  text-align: center;
  margin-top: 5%;
}

.text h1 {
  color: white;
  font-style: bold;
  font-size: 30px;
  font-family: "Titillium Web", sans-serif;
  margin: 0%;
  padding: 0%;
}

.plateforme {
  color: #8a2be2;
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
}
.background {
  background-color: #37276a;
  border-radius: 8px;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.arrowbottom {
  margin-left: 8%;
  margin-top: 4%;
}

.vl {
  border-left: 6px solid #451c94;
  height: 150px;
  margin-left: 40%;
}

.arrow-down {
  width: 0;
  height: 0;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  border-top: 30px solid #451c94;
}

/* BLOCK KOLAB 2 */

.blocksecond {
  background-color: #13082f;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 300px;
  padding-bottom: 3%;
  border-radius: 10px;
  margin-left: 40%;
  margin-top: 5%;
}

.bar2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #0e0623;
  border-radius: 10px 10px 0px 0px;
}

.quit2 {
  margin-left: 0.5%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6832ff;
}

.hide2 {
  margin-left: 0.5%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8e65ff;
}

.zoom2 {
  margin-left: 0.5%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b89cfe;
}

.barlink2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1d123f;
  height: auto;
}

.barlink2 p {
  color: white;
  font-size: 10px;
  font-family: "Titillium Web", sans-serif;
  background-color: #26164f;
  border-radius: 6px;
  width: 80%;
  margin-left: 2%;
  padding: 1%;
  padding-left: 2%;
}

.contentsecond {
  background-color: #13082f;
  padding-bottom: 10%;
  border-radius: 0px 0px 10px 10px;
}

/* CONTENT KOLAB 2  CSS CONTENT */

.contentsecond .text {
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
  text-align: center;
}

.contentsecond .text h1 {
  color: white;
  font-style: bold;
  font-size: 15px;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}

.contentsecond .text h2 {
  color: white;
  font-style: bold;
  font-size: 15px;
  max-width: 100%;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}
.plateforme {
  color: #8a2be2;
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
}
.background {
  background-color: #37276a;
  border-radius: 8px;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.contentsecond .text2 h1 {
  color: white;
  font-style: bold;
  font-size: 15px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  margin-top: 5%;
}

.contentsecond .text2 {
  border-radius: 6px;
  background-color: #37276a;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* SLIDER HOME PAGE */

section .contenthome {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
}

section .contenthome h1 {
  text-align: center;
  color: white;
  font-size: 35px;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}

section .contenthome h2 {
  text-align: center;
  font-size: 35px;
  color: #8a2be2;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}

section .contenthome p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}

.footer h1 {
  color: white;
  font-size: 15px;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  font-style: bold;
}

.footer p {
  color: #8a2be2;
  font-size: 15px;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  font-style: bold;
}

.footer {
  position: absolute;
  bottom: 5%;
  margin-left: 2%;
}

.home img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  background-position: 90% center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn {
  background-color: #8d34e0bb;
  width: 2%;
  height: 6px;
  border-radius: 40%;
  cursor: pointer;
  box-shadow: 0 0 2px whitesmoke;
  transition: 0, 3s ease;
}

.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.slider-navigation .nav-btn.active {
  background-color: #8a2be2;
  width: 3%;
  border-radius: 40%;
  height: 8px;
}

.image-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.image-slide.active {
  clip-path: circle(150% at 0 50%);
}

@media (max-width: 1041px) {
  .blocksecond {
    background-color: #13082f;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 46%;
    height: 300px;
    padding-bottom: 3%;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 15%;
  }
}

/* RESPONCIVE DE LA SECTION 3 "KOLAB"*/
@media (max-width: 814px) {
  .blocksecond {
    background-color: #13082f;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 46%;
    height: 300px;
    padding-bottom: 3%;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 20%;
  }
}

@media (max-width: 664px) {
  .blocksecond {
    background-color: #13082f;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 46%;
    height: 300px;
    padding-bottom: 3%;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 30%;
  }
}

@media (max-width: 414px) {
  .blocksecond {
    background-color: #13082f;
    display: flex;
    flex-direction: column;
    width: 46%;
    height: 300px;
    padding-bottom: 3%;
    border-radius: 10px;
    margin-top: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
